/.idea/misc.xml
/.idea/modules.xml
/.idea/openiam-docker-compose.iml
/.idea/workspace.xml
2.1/mysql/infrastructure/elasticsearch/
2.1/mysql/infrastructure/db/
2.1/mysql/infrastructure/mysql/
/.idea/vcs.xml
